body {
  width: 100;
  height: 100;
  margin: 0;
  color: black;
  font-family: Tahoma;
  background-color: white;
  background-size: cover;
  background-position: fixed;
  font-size: 18px;
}

label {
  display: block;
  margin: 0.5em 0;
}

p, h1 {
  text-align: center;
  margin: 0.5em auto;
}